/* Imports */
@import url("codehilite.css");

/* NAVIGATION */

nav {
    width: 100%;
    display: table;
}

nav ul {
    display: table-row;
    margin-left: 0;
    padding-left: 0;
}

nav ul li {
    display: table-cell;
    width: 33%;
    text-align: center;
}

/* POST LIST */

ol#post-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

/* POST */

/* Anchors */

a.headerlink {
    display: none;
    padding-left: .5em;
    text-decoration: none;
}

h2:hover a.headerlink, h3:hover a.headerlink, h4:hover a.headerlink {
    display: inline;
}

.entry-summary {
    line-height: 1.5;
}

.entry-content {
    line-height: 1.5;
}

time.published {
    font-size: smaller;
}

time.modified {
    font-size: smaller;
}

/* GLOBALS */

.home {
    max-width: 40em;
    margin: 0 auto;
    padding: .5em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

blockquote {
    font-style: italic;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}

table, th, td {
    border: 1px solid black;
}
