/* Imports */
@import url("codehilite.css");

nav ul {
    margin-left: 0;
    padding-left: 0;
}

nav li {
    display: inline-block;
}

ol#post-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

time.published {
    font-size: smaller;
}

time.modified {
    font-size: smaller;
}

img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

blockquote {
    font-style: italic;
}